@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-stretch-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-stretch-height {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

@mixin phone {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 700px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
